<%- include('layouts/header') %>
<div class="container mt-5" style="height: 70vh;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Modifier mon profil</h2>
            <form method="POST">
                <% if (typeof modification !== 'undefined' && modification.length > 0) { %>
                    <span class="text-success"><%= modification %></span>
                <% } %>
                <% if (typeof error !== 'undefined' && error.length > 0) { %>
                    <span class="text-danger"><%= error %></span>
                <% } %>
                <div class="form-group">
                    <label for="login">Identifiant</label>
                    <input
                        type="login"
                        class="form-control"
                        id="login"
                        name="login"
                        value='<%= user %>'
                    />
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                    />
                </div>
                <input
                    type="submit"
                    class="btn btn-primary mt-3 btn-block"
                    value="Modifier"
                />
            </form>
        </div>
    </div>
</div>
</body>
</html>
<%- include('../layouts/auth-footer') %>